[run]
omit=*/gntp/*,*/tweepy/*,*/pushjet/*
disable_warnings = no-data-collected
branch = True
source =
    apprise

[paths]
source =
   apprise
   .tox/*/lib/python*/site-packages/apprise
   .tox/pypy/site-packages/apprise

[report]
show_missing = True
