[run]
omit=*/gntp/*
disable_warnings = no-data-collected
branch = True
source =
    apprise

[paths]
source =
   apprise

[report]
show_missing = True
skip_covered = True
skip_empty = True
fail_under = 99.0
