#
# Plugin Dependencies
#

# Provides fcm:// and spush://
cryptography

# Provides xmpp:// support
slixmpp >= 1.8.2; python_version >= '3.7'

# Provides growl:// support
gntp

# Provides mqtt:// support
paho-mqtt
