#
# Note: This file is being kept for backwards compatibility with
#       legacy systems that point here.  All future changes should
#       occur in pyproject.toml.  Contents of this file can be found
#       in [project.optional-dependencies].all-plugins

# Provides fcm:// and spush://
cryptography

# Provides growl:// support
gntp

# Provides mqtt:// support
# use any version other than 2.0.x due to https://github.com/eclipse/paho.mqtt.python/issues/814
paho-mqtt != 2.0.*

# Pretty Good Privacy (PGP) Provides mailto:// and deltachat:// support
PGPy

# Provides smpp:// support
smpplib
