services:
  test.py39:
    build:
      context: .
      dockerfile: tests/docker/Dockerfile.py39
    volumes:
      - ./:/apprise

  test.py310:
    build:
      context: .
      dockerfile: tests/docker/Dockerfile.py310
    volumes:
      - ./:/apprise

  test.py311:
    build:
      context: .
      dockerfile: tests/docker/Dockerfile.py311
    volumes:
      - ./:/apprise

  test.py312:
    build:
      context: .
      dockerfile: tests/docker/Dockerfile.py312
    volumes:
      - ./:/apprise

  rpmbuild.el9:
    build:
      context: .
      dockerfile: tests/docker/Dockerfile.el9
    volumes:
      - ./:/apprise

  rpmbuild.f42:
    build:
      context: .
      dockerfile: tests/docker/Dockerfile.f42
    volumes:
      - ./:/apprise

  rpmbuild.rawhide:
    build:
      context: .
      dockerfile: tests/docker/Dockerfile.rawhide
    volumes:
      - ./:/apprise

#
# Every Day testing
#
# Sample testing:
# -> docker-compose run --rm test.py312 bash
# bin/apprise -
# tox -e checkdone
#
# Run a set of tests for just a certain section
#  docker-compose run --rm test.py312 tox -e qa -- -k fcm
#
# Or just run all the tests in python 3.12
#  docker-compose run --rm test.py312 tox -e qa
#
# Want to run the whole test suite:
#
#
# RPM Building
#

# el9
#  - docker-compose run --rm rpmbuild.el9 build-rpm.sh
# f42 (Fedora)
#  - docker-compose run --rm rpmbuild.f42 build-rpm.sh
