# fly.toml app configuration file generated for apprise-davbbq on 2026-01-02T23:39:06Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'apprise-davbbq'
primary_region = 'sjc'

[build]
  builder = 'paketobuildpacks/builder:base'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
