include LICENSE
include README.md
include CONTRIBUTING.md
include ACKNOWLEDGEMENTS.md
include pyproject.toml
include tox.ini
include requirements.txt
include win-requirements.txt
include dev-requirements.txt
include all-plugin-requirements.txt
recursive-include tests *
recursive-include packaging *
recursive-include apprise/i18n *.pot
recursive-include apprise/i18n *.po
recursive-include apprise/i18n */LC_MESSAGES/*.po
global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__
