#
# Note: This file is being kept for backwards compatibility with
#       legacy systems that point here.  All future changes should
#       occur in pyproject.toml.  Contents of this file can be found
#       in project.dependencies

# Root certificate authority bundle
certifi

# Application dependencies
requests
requests-oauthlib
click >= 5.0
markdown
PyYAML
